.card-child-content {
  padding: 10px;
  margin-inline: auto;
  block-size: 100%;
  text-align: center;
  z-index: 1;
}

.card figure img {
  block-size: 100%;
  object-fit: cover;
}

.sub-image {
  margin-block-start: 20px;
  block-size: 80px;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}

.deal-quantity {
  margin-block: 40px 0;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.deal-desc {
  margin-block-start: 0;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.bg-image {
  object-fit: cover;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
}
