.card-child-content {
  padding: 10px;
  text-align: center;
  z-index: 1;
  align-content: end;
  display: grid
}

.card figure img {
  block-size: 100%;
  object-fit: cover;
}

.sub-image {
  margin-block-start: 20px;
  block-size: 100px;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 20%;
  transform: translate(-50%, -50%);
}

.sub-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.sub-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: grey;
}

@media (hover) {
  button:hover {
    border-color: rgba(59, 95, 121, 0.5) !important;
    background: rgba(59, 95, 121, 0.5) !important;
  }
}
