.card-child-content {
  padding: 10px;
  margin-inline: auto;
  block-size: 100%;
  text-align: center;
}

.card figure img {
  block-size: 100%;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: center;
  background: #181e2a;
  align-items: flex-end;
  padding: 15px; /* Adjust as needed */
  color: grey;
  font-family: Arial, sans-serif; /* Specify a specific font */
  font-weight: bold;
}

.deal-image {
  margin-block-start: 20px;
  block-size: 80px;
}

.deal-quantity {
  margin-block: 40px 0;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.deal-desc {
  margin-block-start: 0;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
