.indicators {
    display: flex;
    justify-content: center;
    margin-top:250px;
    z-index: 4;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.inactive {
    visibility: hidden;
    position: absolute;
}

.carouselComponent {
    position: absolute;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carouselComponent.active {
    opacity: 1;
    /*transform: translateX(0);*/
}

.carouselComponent.inactive {
    opacity: 0;
    /*transform: translateX(-100%);*/
}
