:root {
  --progress-fill-width: 10%;
}


.vipImage {
  block-size: 50px;
  z-index: 3;
  height: 60px;
  width: 60px;
  margin: auto 0;
  position: absolute;
  inset-block-start: 0;
  transform: translate(-30%, 10%);
}

.vipProgressText {
  margin: auto;
  vertical-align: middle;
  font-size: 17px;
  z-index: 3;
  font-weight: bold;
  color: white;
}

.vipProgressFill {
  position: fixed;
  margin-top: 0.5px;
  height: 32px;
  width: var(--progress-fill-width, 50px);
  border-radius: 0.5rem;
  z-index: 2;
  background: linear-gradient(to bottom, #db3b3e 0%, #993733 100%);
}
